ul {list-style-type: none;}

/* Month */

.month {
    padding: 70px 25px;
    background: lightcoral;
    text-align: center;
}

.month ul {
    margin: 0;
    padding: 0;
    display: table;
}

.month h1 {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month h3 {
    color: white;
    font-size: 14px;
    letter-spacing: 3px;
}

/* END Month */

/* Weekdays */

.weekdays {
    margin: 0;
    padding: 10px 5px;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
}

/* END Weekdays */

/* Days */

.days {
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    height: 12vh;
    position: relative;
    text-align: center;
    font-size:12px;
    color: #777;
    overflow: hidden;
}

.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}

.days .recipeday {
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
}

.days .recipeday p {
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    background-color: lightcoral;
}

.days .recipeday img {
    width: 100%;
}

.daynumber {
    position: absolute;
    top: 5px;
    left: 5px;
}

/* END Days */

/* Media Queries */

@media screen and (max-width:720px) {
    .weekdays li, .days li {width: 13.1%;}
    .days li {height: 10vw;}
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 12.5%;}
    .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 12.2%;}
}

/* END Media Queries */