/* Picture Section */

#picture {
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
    background-position: top;
    background-size: cover;
}

#picture h1 {
    background-color: lightcoral;
    display: inline-block;
    padding: 16px;
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
}

/* END Picture Section */

/* Summary Section */

#summary ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    background-color: lightcoral;
    padding-top: 16px;
}

#summary li {
    display: list-item;
    color: white;
}

#summary li h4 {
    padding-bottom: 16px;
}

/* END Summary Section */

/* Ingredients Section */

#ingredients {
    display: inline-block;
    background-color: #ffdbdb;
    width: 40%;
    padding-top: 16px;
    padding-bottom: 16px;
}

#ingredients ul {
    list-style-type: none;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 16px;
}

#ingredients li {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-table;
    border-radius: 4px;
}

#ingredients h3 {
    text-align: center;
    margin: 0;
}

/* END Ingredients Section */

/* Instructions Section */

#instructions {
    display: inline-block;
    width: 59.5%;
    vertical-align: top;
    padding-top: 16px;
    counter-reset: step;
}

#instructions ol {
    padding-top: 16px;
    padding-left: 80px;
    padding-right: 32px;
    position: relative;
}

#instructions li {
    text-align: justify;
    margin-bottom: 20px;
    line-height: 25px;
}

#instructions li::before {
    content: counter(step);
    counter-increment: step;
    position: absolute;
    left: 32px;
    margin-top: 5px;
    font-size: 30px;
    font-weight: 800;
    color: lightcoral;
}

#instructions h3 {
    text-align: center;
    margin: 0;
}

/* END Instructions Section */

/* Comments Section */

#comments h3 {
    text-align: center;
    color: white;
}

#comments {
    display: block;
    background-color: lightcoral;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
}

#comments li {
    background-color: white;
    padding: 16px;
    margin-top: 16px;
}

.user {
    font-weight: bold;
    font-size: 18px;
}

.comment {
    display: block;
    margin-top: 12px;
    line-height: 22px
}

#bottom-navbar {
    height: 80px;
    position: relative;
    display: none;
}

#bottom-navbar .button {
    position: absolute;
    left: 16px;
    top: 16px;
    text-align: center;
}

/* END Comments Section */

/* Media Queries */

@media only screen and (max-width: 850px){
    #ingredients {
        width: 100%;
    }
    
    #instructions {
        width: 100%;
    }
    
    #bottom-navbar {
        display: block;
    }
}

@media only screen and (max-width: 460px){
    #picture h1 {
        font-size: 28px;
    }
}

/* END Media Queries */